:root {
  --accent-colour: #2196f3;
  --logo-colour: #000;
  --title-colour: #212121;
  --description-colour: #757575;
  --footer-bg: #2f303a;
  --main-colour: #ffffff;
  --team-bg: #f5f4fa;
  --footer-contact: rgba(255, 255, 255, 0.6);
  --header-line: #ececec;
  --card-line: #eeeeee;
  --svg-colour: #AFB1B8
}
.container{
  /* outline: 1px solid red; */
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
body {

 font-family: Roboto;

};



.header-logo{
    color: var(--accent-colour);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}


.header-logo{
     color: var(--accent-colour);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
margin-right: 93px;
}

.header-span{
 color: var(--logo-colour);
}
.header-items{
  display: flex;
  gap: 50px;
}

.header{
  padding-top: 24px;
  padding-bottom: 25px;
}
.header .container{
  display: flex;
  align-items: center;
}
.header-link{
color: var(--title-colour);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.header-link:hover {
  color: var(--accent-colour);
}
.header-lists{
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.header-whitemail{
  width: 16px;
  height: 12px;
  fill: var(--description-colour);
}

.header-whitemail:hover{
  fill: var(--accent-colour);
}

.header-phone{
  width: 10.0px;
height: 16.0px;
fill: #757575;
}


.header-gmail{
  color: var(--description-colour);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
display: flex;
align-items: center;
gap: 11px;
}

.header-gmail:hover {
color: var(--accent-colour);
.header-whitemail{
  fill: var(--accent-colour);
}
.header-phone{
  fill: var(--accent-colour);
}
}


.buisness{
  background-color: var(--footer-bg);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../img/buisnessbcg.webp);
  background-repeat: no-repeat;
  background-position:center ;
  background-size: cover;
}

.buisness-title{
  color: var(--main-colour);
text-align: center;
font-size: 44px;
font-weight: 900;
line-height: 1.36; /* 136.364% */
letter-spacing: 2.64px;
text-transform: uppercase;
width: 696px;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
position: sticky;
top: 0;
}

.buisness-btn{
  color: var(--main-colour);
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 1.87; /* 187.5% */
letter-spacing: 0.96px;
border-radius: 4px;
background: var(--accent-colour);
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
padding: 10px 32px;
}

.hero{
  padding-top: 94px;
  padding-bottom: 94px;
}
.hero-list{
  display: flex;
  gap: 30px;
}

.hero-title{
  color: var(--title-colour);
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 10px;
}

.hero-item::before{
content: "";
width: 270px;
height: 120px;
display: block;
background-color: var(--team-bg);
border-radius: 4px;
margin-bottom: 30px;
background-image: url(../img/antenna1.png);
background-repeat: no-repeat;
background-position: center;
background-size: 70px 70px;
}

.hero-item:nth-child(2)::before{
  background-image: url(../img/clock1.png);
}

.hero-item:nth-child(3)::before{
  background-image: url(../img/diagram1.png);
}

.hero-item:nth-child(4)::before{
  background-image: url(../img/astronaut.png);
}

.hero-desc{
  color: var(--description-colour);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}

.thingswedo{
  padding-bottom: 94px;
}


.thingswedo-title{
  color: var(--title-colour);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
margin-bottom: 50px;
}
.thingswedo-items{
  display: flex;
  gap: 30px;
}

.thingswedo-desc{
   font-size: 30px;
    color: var(--main-colour);
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    margin: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    background: rgba(47, 48, 58, 0.80);
    width: 100%;
}



.ourteam{
  background-color: var(--team-bg);
  padding-top: 94px;
  padding-bottom: 94px;
}
.ourteam-title{
  color: var(--title-colour);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
margin-bottom: 50px;
}
.ourteam-items{
  display: flex;
  gap: 30px;
}
.ourteam-item{
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px 0 rgba(0, 0, 0, 0.20);
 border-radius: 0 0 4px 4px;
}
.ourteam-img{
  width: 270px;
height: 260px;
}
.ourteam-desc{
  color: var(--title-colour);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.48px;
}
.ourteam-text{
  color: var(--description-colour);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.18;
letter-spacing: 0.48px;
margin-top: 10px;
}

.ourteam-list{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  gap: 10px;
}

.ourteam-link{
  border-radius: 50%;
  width: 44.0px;
height: 44.0px;
display: flex;
justify-content: center;
align-items: center;
}

.ourteam-link:hover{
  background-color: var(--accent-colour);
  .ourteam-icon{
    fill: var(--main-colour);
  }
}

.ourteam-icon{
  width: 20.0px;
height: 20.0px;
fill: var(--svg-colour);
}

.ourteam-wrap{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--main-colour);
  border-radius: 0 0 4px 4px;
}

.clients{
  background-color: var(--main-colour);
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title{
  color: var(--title-colour);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
margin-bottom: 50px;
}

.clients-list{
  display: flex;
  gap: 30px;
}

.clients-link{
  width: 170.0px;
height: 92.0px;
border-radius: 4px;
border: 1px solid var(--svg-colour);
display: flex;
align-items: center;
justify-content: center;
}

.clients-link:hover{
  border: 1px solid var(--accent-colour);
  .clients-icon{
    fill: var(--accent-colour);
  }
}

.clients-icon{
  width: 106px;
  height: 60px;
  fill: var(--svg-colour);
}

.footer{
  background-color: var(--footer-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-box{
  display: flex;
  align-items: baseline;
}

.footer-logo{
  color: var(--accent-colour);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
margin-bottom: 20px;
display: inline-block;
}
.footer-span{
  color: var(--main-colour);
}

.footer-adresslink{
  color: var(--main-colour);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}
.footer-items{
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.footer-gmail{
  color: var(--footer-contact);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}

.footer-wrapper{
  margin-left: 70px;
}

.footer-title{
  color: var(--main-colour);
font-size: 14px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 20px;
}

.footer-list{
  gap: 10px;
  display: flex;
}

.footer-link{
  width: 44.0px;
height: 44.0px;
border-radius: 50%;
background-color: rgba(255, 255, 255, 0.10);
display: flex;
align-items: center;
justify-content: center;
}

.footer-link:hover{
  background-color: var(--accent-colour);
}

.footer-icon{
  width: 20.0px;
height: 20.0px;
fill: var(--main-colour);
}

/* portfolio */


.cart{
  padding-top: 94px;
  padding-bottom: 94px;
}
.cart-list{
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.cart-btn{
  color: var(--title-colour);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.62; /* 162.5% */
letter-spacing: 0.48px;
border-radius: 4px;
background: var(--team-bg);
border: transparent;
padding: 6px 22px;
}
.cart-btn:hover{
  color: var(--main-colour);
  background-color: var(--accent-colour);
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.10), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}
.cart-items{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

}
.cart-title{
  color: var(--title-colour);
font-size: 18px;
font-weight: 700;
line-height: 2.00; /* 200% */
letter-spacing: 1.08px;
margin-bottom: 4px;
}
.cart-desc{
  color: var(--description-colour);
font-size: 16px;
font-weight: 400;
line-height: 1.87; /* 187.5% */
letter-spacing: 0.48px;
}
.cart-wrap{
  padding: 20px 24px;
}

.cart-elem{
outline: 1px solid #EEE;
background: #FFF;
flex-basis: calc((100% - 60px)/3);
}
.cart-elem:hover{
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 1px 4px 6px 0 rgba(0, 0, 0, 0.16);
}



.scroll-top{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--accent-colour);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.scroll-icon{
  width: 20px;
  height: 30px;
  fill: var(--main-colour);
}

.scroll-top:hover{
  background-color: var(--description-colour);
  .scroll-icon{
    fill: var(--accent-colour);
  }
}