:root {
  --accent-colour: #2196f3;
  --logo-colour: #000;
  --title-colour: #212121;
  --description-colour: #757575;
  --footer-bg: #2f303a;
  --main-colour: #ffffff;
  --team-bg: #f5f4fa;
  --footer-contact: rgba(255, 255, 255, 0.6);
  --header-line: #ececec;
  --card-line: #eeeeee;
}
.container{
  outline: 1px solid red;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
body {

 font-family: Roboto;

};


.header-logo{
    color: var(--accent-colour);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}


.header-logo{
     color: var(--accent-colour);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
margin-right: 93px;
}

.header-span{
 color: var(--logo-colour);
}
.header-items{
  display: flex;
  gap: 50px;
}

.header{
  padding-top: 24px;
  padding-bottom: 25px;
}
.header .container{
  display: flex;
  align-items: center;
}
.header-link{
color: var(--title-colour);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.header-link:hover {
  color: var(--accent-colour);
}
.header-lists{
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.header-gmail{
  color: var(--description-colour);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.header-gmail:hover {
color: var(--accent-colour);
}


.buisness{
  background-color: var(--footer-bg);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.buisness-title{
  color: var(--main-colour);
text-align: center;
font-size: 44px;
font-weight: 900;
line-height: 1.36; /* 136.364% */
letter-spacing: 2.64px;
text-transform: uppercase;
width: 696px;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
}

.buisness-btn{
  color: var(--main-colour);
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 1.87; /* 187.5% */
letter-spacing: 0.96px;
border-radius: 4px;
background: var(--accent-colour);
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
padding: 10px 32px;
}

.hero{
  padding-top: 94px;
  padding-bottom: 94px;
}
.hero-list{
  display: flex;
  gap: 30px;
}

.hero-title{
  color: var(--title-colour);
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 10px;
}

.hero-desc{
  color: var(--description-colour);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}

.thingswedo{
  padding-bottom: 94px;
}


.thingswedo-title{
  color: var(--title-colour);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
margin-bottom: 50px;
}
.thingswedo-items{
  display: flex;
  gap: 30px;
}




.ourteam{
  background-color: var(--team-bg);
  padding-top: 94px;
  padding-bottom: 94px;
}
.ourteam-title{
  color: var(--title-colour);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
margin-bottom: 50px;
}
.ourteam-items{
  display: flex;
  gap: 30px;
}
.ourteam-img{
  width: 270px;
height: 260px;
}
.ourteam-desc{
  color: var(--title-colour);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.48px;
}
.ourteam-text{
  color: var(--description-colour);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.18;
letter-spacing: 0.48px;
margin-top: 10px;
}
.ourteam-wrap{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--main-colour);
}




.footer{
  background-color: var(--footer-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo{
  color: var(--accent-colour);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
margin-bottom: 20px;
display: inline-block;
}
.footer-span{
  color: var(--main-colour);
}

.footer-adresslink{
  color: var(--main-colour);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}
.footer-items{
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.footer-gmail{
  color: var(--footer-contact);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}


/* portfolio */


.cart{
  padding-top: 94px;
  padding-bottom: 94px;
}
.cart-list{
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.cart-btn{
  color: var(--title-colour);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.62; /* 162.5% */
letter-spacing: 0.48px;
border-radius: 4px;
background: var(--team-bg);
border: transparent;
padding: 6px 22px;
}
.cart-btn:hover{
  color: var(--main-colour);
  background-color: var(--accent-colour);
}
.cart-items{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

}
.cart-title{
  color: var(--title-colour);
font-size: 18px;
font-weight: 700;
line-height: 2.00; /* 200% */
letter-spacing: 1.08px;
margin-bottom: 4px;
}
.cart-desc{
  color: var(--description-colour);
font-size: 16px;
font-weight: 400;
line-height: 1.87; /* 187.5% */
letter-spacing: 0.48px;
}
.cart-wrap{
  padding: 20px 24px;
}

.cart-elem{
outline: 1px solid #EEE;
background: #FFF;
}