:root {
  --accent-colour: #2196f3;
  --logo-colour: #000;
  --title-colour: #212121;
  --description-colour: #757575;
  --footer-bg: #2f303a;
  --main-colour: #ffffff;
  --team-bg: #f5f4fa;
  --footer-contact: rgba(255, 255, 255, 0.6);
  --header-line: #ececec;
  --card-line: #eeeeee;
  --svg-colour: #AFB1B8
}
.container{
  /* outline: 1px solid red; */
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
body {

 font-family: Roboto;

};



.header-logo{
    color: var(--accent-colour);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}


.header-logo{
     color: var(--accent-colour);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
margin-right: 93px;
}

.header-span{
 color: var(--logo-colour);
}
.header-items{
  display: flex;
  gap: 50px;
}

.header{
  padding-top: 24px;
  padding-bottom: 25px;
  /* position: fixed;
  width: 100%; */
}
.header .container{
  display: flex;
  align-items: center;
}

.header-item{
  position: relative;
}

.header-link{
color: var(--title-colour);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover {
  color: var(--accent-colour);
}

.header-link:hover:after{
  opacity: 1;
  transform: scale(1);
}

.header-link:after{
  display: block;
  content: "";
position: absolute;
  width: 100%;
height: 4.0px;
border-radius: 2px;
background: var(--accent-colour);
opacity: 0;
left: 0;
bottom: -33px;
transition-property: opacity, transform;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transform: scale(0);
}

.header-lists{
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.header-whitemail{
  width: 16px;
  height: 12px;
  fill: var(--description-colour);
  transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-whitemail:hover{
  fill: var(--accent-colour);
}

.header-phone{
  width: 10.0px;
height: 16.0px;
fill: #757575;
transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.header-gmail{
  color: var(--description-colour);
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
display: flex;
align-items: center;
gap: 11px;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-gmail:hover {
color: var(--accent-colour);
.header-whitemail{
  fill: var(--accent-colour);
}
.header-phone{
  fill: var(--accent-colour);
}
}


.buisness{
  background-color: var(--footer-bg);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../img/buisnessbcg.webp);
  background-repeat: no-repeat;
  background-position:center ;
  background-size: cover;
}

.buisness-title{
  color: var(--main-colour);
text-align: center;
font-size: 44px;
font-weight: 900;
line-height: 1.36; /* 136.364% */
letter-spacing: 2.64px;
text-transform: uppercase;
width: 696px;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
position: sticky;
top: 0;
}

.buisness-btn{
  color: var(--main-colour);
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 1.87; /* 187.5% */
letter-spacing: 0.96px;
border-radius: 4px;
background: var(--accent-colour);
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
padding: 10px 32px;
}

.hero{
  padding-top: 94px;
  padding-bottom: 94px;
}
.hero-list{
  display: flex;
  gap: 30px;
}

.hero-title{
  color: var(--title-colour);
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 10px;
}

.hero-item::before{
content: "";
width: 270px;
height: 120px;
display: block;
background-color: var(--team-bg);
border-radius: 4px;
margin-bottom: 30px;
background-image: url(../img/antenna1.png);
background-repeat: no-repeat;
background-position: center;
background-size: 70px 70px;
}

.hero-item:nth-child(2)::before{
  background-image: url(../img/clock1.png);
}

.hero-item:nth-child(3)::before{
  background-image: url(../img/diagram1.png);
}

.hero-item:nth-child(4)::before{
  background-image: url(../img/astronaut.png);
}

.hero-item:hover:before{
  

}

.hero-desc{
  color: var(--description-colour);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}

.thingswedo{
  padding-bottom: 94px;
}


.thingswedo-title{
  color: var(--title-colour);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
margin-bottom: 50px;
}
.thingswedo-items{
  display: flex;
  gap: 30px;
}

.wrap{
  position: relative;
}

.thingswedo-desc{
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
   font-size: 14px;
    color: var(--main-colour);
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    margin: 0;
    padding-top: 27px;
    padding-bottom: 27px;
    background: rgba(47, 48, 58, 0.80);
    width: 100%;
}



.ourteam{
  background-color: var(--team-bg);
  padding-top: 94px;
  padding-bottom: 94px;
}
.ourteam-title{
  color: var(--title-colour);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.16;
letter-spacing: 1.08px;
margin-bottom: 50px;
}
.ourteam-items{
  display: flex;
  gap: 30px;
}
.ourteam-item{
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px 0 rgba(0, 0, 0, 0.20);
 border-radius: 0 0 4px 4px;
}
.ourteam-img{
  width: 270px;
height: 260px;
}
.ourteam-desc{
  color: var(--title-colour);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.18;
letter-spacing: 0.48px;
}
.ourteam-text{
  color: var(--description-colour);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.18;
letter-spacing: 0.48px;
margin-top: 10px;
}

.ourteam-list{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  gap: 10px;
}

.ourteam-link{
  border-radius: 50%;
  width: 44.0px;
height: 44.0px;
display: flex;
justify-content: center;
align-items: center;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ourteam-link:hover{
  background-color: var(--accent-colour);
  .ourteam-icon{
    fill: var(--main-colour);
  }
}

.ourteam-icon{
  width: 20.0px;
height: 20.0px;
fill: var(--svg-colour);
transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ourteam-wrap{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--main-colour);
  border-radius: 0 0 4px 4px;
}

.clients{
  background-color: var(--main-colour);
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title{
  color: var(--title-colour);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
margin-bottom: 50px;
}

.clients-list{
  display: flex;
  gap: 30px;
}

.clients-link{
  width: 170.0px;
height: 92.0px;
border-radius: 4px;
border: 1px solid var(--svg-colour);
display: flex;
align-items: center;
justify-content: center;
transition-property: border;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover{
  border: 1px solid var(--accent-colour);
  .clients-icon{
    fill: var(--accent-colour);
  }
}

.clients-icon{
  width: 106px;
  height: 60px;
  fill: var(--svg-colour);
  transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer{
  background-color: var(--footer-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-box{
  display: flex;
  align-items: baseline;
}

.footer-logo{
  color: var(--accent-colour);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
margin-bottom: 20px;
display: inline-block;
}
.footer-span{
  color: var(--main-colour);
}

.footer-adresslink{
  color: var(--main-colour);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}
.footer-items{
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.footer-gmail{
  color: var(--footer-contact);
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}

.footer-wrapper{
  margin-left: 70px;
  margin-right: auto;
}

.footer-title{
  color: var(--main-colour);
font-size: 14px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 20px;
}

.footer-form{
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-list{
  gap: 10px;
  display: flex;
}

.footer-link{
  width: 44.0px;
height: 44.0px;
border-radius: 50%;
background-color: rgba(255, 255, 255, 0.10);
display: flex;
align-items: center;
justify-content: center;
transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover{
  background-color: var(--accent-colour);
}

.footer-icon{
  width: 20.0px;
height: 20.0px;
fill: var(--main-colour);
}



.footer-email{
color: rgba(255, 255, 255, 0.60);
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.48px;
background-color: var(--footer-bg);
border-radius: 4px;
border: 1px solid rgba(255, 255, 255, 0.30);
background: rgba(33, 150, 243, 0.00);
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
padding-left: 16px;
width: 358.0px;
height: 50.0px;
}

.footer-btn{
  color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.96px;
border-radius: 4px;
background: #2196F3;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
padding-top: 10px;
padding-right: 28px;
padding-bottom: 10px;
padding-left: 28px;
border: none;
display: flex;
align-items: center;
gap: 10px;
}

.footer-send{
  width: 24.0px;
height: 24.0px;
fill: var(--main-colour);
}

.wrapper-footer{
  justify-content: center;
  align-items: last baseline;
  display: flex;
  gap: 12px;
}



/* portfolio */


.cart{
  padding-top: 94px;
  padding-bottom: 94px;
}
.cart-list{
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}
.cart-btn{
  color: var(--title-colour);
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.62; /* 162.5% */
letter-spacing: 0.48px;
border-radius: 4px;
background: var(--team-bg);
border: transparent;
padding: 6px 22px;
transition-property: color, box-shadow, background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.cart-btn:hover{
  color: var(--main-colour);
  background-color: var(--accent-colour);
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.10), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}
.cart-items{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

}

.cart-box{
position: relative;
overflow: hidden;
}



.cart-description{
color: #FFF;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.54px;
background-color: rgba(33, 150, 243, 0.90);
position: absolute;
top: 0;
left: 0;
height: 100%;
padding: 63px 24px;
opacity: 0;
transition-property: opacity, transform;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transform: translateY(100%)
}

.cart-title{
  color: var(--title-colour);
font-size: 18px;
font-weight: 700;
line-height: 2.00; /* 200% */
letter-spacing: 1.08px;
margin-bottom: 4px;
}
.cart-desc{
  color: var(--description-colour);
font-size: 16px;
font-weight: 400;
line-height: 1.87; /* 187.5% */
letter-spacing: 0.48px;
}
.cart-wrap{
  padding: 20px 24px;
}

.cart-elem{
outline: 1px solid #EEE;
background: #FFF;
flex-basis: calc((100% - 60px)/3);
transition-property: box-shadow;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cart-elem:hover{
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 1px 4px 6px 0 rgba(0, 0, 0, 0.16);
  .cart-description{
    opacity: 1;
    transform: translateY(0);
  }
  
}



.scroll-top{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--accent-colour);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.scroll-icon{
  width: 20px;
  height: 30px;
  fill: var(--main-colour);
}

.scroll-top:hover{
  background-color: var(--description-colour);
  .scroll-icon{
    fill: var(--accent-colour);
  }
}

/* modal window */

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.20);
  opacity: 1;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.is-hidden{
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
transition-duration: 1000ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal{
  transform: translate(-50%, 200px) scale(0);
}

.modal{
  width: 528.0px;
height: 581.0px;
background-color: var(--main-colour);
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) scale(1);
border-radius: 4px;
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px 0 rgba(0, 0, 0, 0.20);
padding: 40px;
transition-property: transform;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close{
  width: 30.0px;
height: 30.0px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
outline:1px solid rgba(0, 0, 0, 0.10);
border: none;
background-color: transparent;
position: absolute;
top: 8px;
right: 8px;
}

.modal-close:hover{
  .modal-x{
    fill: var(--accent-colour);
  }
}

.modal-x{
width: 11.0px;
height: 11.0px;
transition-property: fill;
transition-duration: 450ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title{
  color: var(--title-colour);
text-align: center;
font-size: 20px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.6px;
margin-bottom: 12px;
}

.modal-label{
  color: var(--description-colour);
font-size: 12px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.12px;
margin-bottom: 4px;
display: block;
position: relative;
}

.modal-lab{
  color: var(--description-colour);
font-size: 12px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.12px;
display: block;
}

.modal-input{
  display: block;
  border-radius: 4px;
outline: 1px solid rgba(33, 33, 33, 0.20);
border: none;
width: 100%;
height: 40.0px;
padding-left: 42px;
color: inherit;
font-size: inherit;
margin-bottom: 10px;
margin-top: 4px;
transition-property: outline;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover{
outline: 1px solid var(--accent-colour);
}

.modal-svg{
  fill: var(--title-colour);
  width: 12.0px;
height: 12.0px;
position: absolute;
left: 15px;
top: 33px;
transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover + .modal-svg{
  fill: var(--accent-colour);
}

.modal-comment{
  resize: none;
  width: 100%;
height: 120px;
border-radius: 4px;
border: 1px solid rgba(33, 33, 33, 0.20);
display: block;
padding: 12px 16px;
margin-top: 4px;
}

.modal-box{
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-check{
  fill: var(--title-colour);
width: 16.0px;
height: 15.0px;

}

.modal-text{
  color: var(--description-colour);
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
margin-left: 8.38px;
margin-right: 3px;
}

.modal-link{
  color: var(--accent-colour);
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}

.modal-btn{
  color: var(--main-colour);
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.96px;
border-radius: 4px;
background: var(--accent-colour);
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
padding-top: 10px;
padding-bottom: 10px;
padding-right: 52px;
padding-left: 52px;
border: none;
margin-left: auto;
margin-right: auto;
display: flex;
justify-content: center;
align-items: center;
margin-top: 30px;
}
