@use "./base/reset";
@use "./base/container";
@use "./base/common";
@use "./base/var";
@use "./section/header";
@use "./section/buisness";
@use "./section/hero";
@use "./section/thingswedo";
@use "./section/ourteam";
@use "./section/clients";
@use "./section/footer";
@use "./section/cart";
@use "./section/modal";
@use "./section/scroll";