a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

address {
  font-style: normal;
}

.container {
  /* outline: 1px solid red; */
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: Roboto;
}

.header-logo {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.header-logo {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  margin-right: 93px;
}

.header-span {
  color: #000;
}

.header-items {
  display: flex;
  gap: 50px;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
  /* position: fixed;
  width: 100%; */
}

.header .container {
  display: flex;
  align-items: center;
}

.header-item {
  position: relative;
}

.header-link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover {
  color: #2196f3;
}

.header-link:hover:after {
  opacity: 1;
  transform: scale(1);
}

.header-link:after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
  opacity: 0;
  left: 0;
  bottom: -33px;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(0);
}

.header-lists {
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.header-whitemail {
  width: 16px;
  height: 12px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-whitemail:hover {
  fill: #2196f3;
}

.header-phone {
  width: 10px;
  height: 16px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-gmail {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  display: flex;
  align-items: center;
  gap: 11px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-gmail:hover {
  color: #2196f3;
}
.header-gmail:hover .header-whitemail {
  fill: #2196f3;
}
.header-gmail:hover .header-phone {
  fill: #2196f3;
}

.buisness {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/buisnessbcg.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.buisness-title {
  color: #ffffff;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  position: sticky;
  top: 0;
}

.buisness-btn {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
}

.hero {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero-list {
  display: flex;
  gap: 30px;
}

.hero-title {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.hero-item::before {
  content: "";
  width: 270px;
  height: 120px;
  display: block;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  background-image: url(../img/antenna1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
}

.hero-item:nth-child(2)::before {
  background-image: url(../img/clock1.png);
}

.hero-item:nth-child(3)::before {
  background-image: url(../img/diagram1.png);
}

.hero-item:nth-child(4)::before {
  background-image: url(../img/astronaut.png);
}

.hero-desc {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}

.thingswedo {
  padding-bottom: 94px;
}

.thingswedo-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.thingswedo-items {
  display: flex;
  gap: 30px;
}

.wrap {
  position: relative;
}

.thingswedo-desc {
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
}

.ourteam {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.ourteam-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.ourteam-items {
  display: flex;
  gap: 30px;
}

.ourteam-item {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.ourteam-img {
  width: 270px;
  height: 260px;
}

.ourteam-desc {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
}

.ourteam-text {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-top: 10px;
}

.ourteam-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  gap: 10px;
}

.ourteam-link {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ourteam-link:hover {
  background-color: #2196f3;
}
.ourteam-link:hover .ourteam-icon {
  fill: #ffffff;
}

.ourteam-icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ourteam-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
}

.clients {
  background-color: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-link {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover {
  border: 1px solid #2196f3;
}
.clients-link:hover .clients-icon {
  fill: #2196f3;
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-box {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  margin-bottom: 20px;
  display: inline-block;
}

.footer-span {
  color: #ffffff;
}

.footer-adresslink {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}

.footer-items {
  margin-top: 9px;
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-gmail {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}

.footer-wrapper {
  margin-left: 70px;
  margin-right: auto;
}

.footer-title {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-form {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer-list {
  gap: 10px;
  display: flex;
}

.footer-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover {
  background-color: #2196f3;
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-email {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
  background-color: #2f303a;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding-left: 16px;
  width: 358px;
  height: 50px;
}

.footer-btn {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding-top: 10px;
  padding-right: 28px;
  padding-bottom: 10px;
  padding-left: 28px;
  border: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-send {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.wrapper-footer {
  justify-content: center;
  align-items: last baseline;
  display: flex;
  gap: 12px;
}

.cart {
  padding-top: 94px;
  padding-bottom: 94px;
}

.cart-list {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.cart-btn {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
  letter-spacing: 0.48px;
  border-radius: 4px;
  background: #f5f4fa;
  border: transparent;
  padding: 6px 22px;
  transition-property: color, box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cart-btn:hover {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}

.cart-items {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.cart-box {
  position: relative;
  overflow: hidden;
}

.cart-description {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 63px 24px;
  opacity: 0;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}

.cart-title {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2; /* 200% */
  letter-spacing: 1.08px;
  margin-bottom: 4px;
}

.cart-desc {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.48px;
}

.cart-wrap {
  padding: 20px 24px;
}

.cart-elem {
  outline: 1px solid #eeeeee;
  background: #ffffff;
  flex-basis: calc((100% - 60px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cart-elem:hover {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 1px 4px 6px 0 rgba(0, 0, 0, 0.16);
}
.cart-elem:hover .cart-description {
  opacity: 1;
  transform: translateY(0);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal {
  transform: translate(-50%, 200px) scale(0);
}

.modal {
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  padding: 40px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  border: none;
  background-color: transparent;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal-close:hover .modal-x {
  fill: #2196f3;
}

.modal-x {
  width: 11px;
  height: 11px;
  transition-property: fill;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.modal-label {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
  display: block;
  position: relative;
}

.modal-lab {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  display: block;
}

.modal-input {
  display: block;
  border-radius: 4px;
  outline: 1px solid rgba(33, 33, 33, 0.2);
  border: none;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  color: inherit;
  font-size: inherit;
  margin-bottom: 10px;
  margin-top: 4px;
  transition-property: outline;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover {
  outline: 1px solid #2196f3;
}

.modal-svg {
  fill: #212121;
  width: 12px;
  height: 12px;
  position: absolute;
  left: 15px;
  top: 33px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover + .modal-svg {
  fill: #2196f3;
}

.modal-comment {
  resize: none;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  display: block;
  padding: 12px 16px;
  margin-top: 4px;
}

.modal-box {
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-check {
  fill: #212121;
  width: 16px;
  height: 15px;
}

.modal-text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-left: 8.38px;
  margin-right: 3px;
}

.modal-link {
  color: #2196f3;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

.modal-btn {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 52px;
  padding-left: 52px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.scroll-top {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.scroll-icon {
  width: 20px;
  height: 30px;
  fill: #ffffff;
}

.scroll-top:hover {
  background-color: #757575;
}
.scroll-top:hover .scroll-icon {
  fill: #eeeeee;
}/*# sourceMappingURL=main.css.map */