
  $accent-colour: #2196f3;
  $logo-colour: #000;
  $title-colour: #212121;
  $description-colour: #757575;
  $footer-bg: #2f303a;
  $main-colour: #ffffff;
  $team-bg: #f5f4fa;
  $footer-contact: rgba(255, 255, 255, 0.6);
  $header-line: #ececec;
  $card-line: #eeeeee;
  $svg-colour: #AFB1B8;
  $cart-bg: rgba(33, 150, 243, 0.90);
  $link-bcg: rgba(255, 255, 255, 0.10);
  $footer-email: rgba(255, 255, 255, 0.3);
  $bcg-email: rgba(33, 150, 243, 0.00);
  $shadow: rgba(0, 0, 0, 0.15);
  $backdrop-bg: rgba(0, 0, 0, 0.20);
  $modal-close: rgba(0, 0, 0, 0.10);
  $modal-input: rgba(33, 33, 33, 0.20);
  $thingswedo-bg: rgba(47, 48, 58, 0.80);