@use "../base/var" as *;
.buisness{
  background-color: $footer-bg;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../img/buisnessbcg.webp);
  background-repeat: no-repeat;
  background-position:center ;
  background-size: cover;

  &__title{
  color: $main-colour;
text-align: center;
font-size: 44px;
font-weight: 900;
line-height: 1.36; /* 136.364% */
letter-spacing: 2.64px;
text-transform: uppercase;
width: 696px;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
position: sticky;
top: 0;
}

&__btn{
  color: $main-colour;
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 1.87; /* 187.5% */
letter-spacing: 0.96px;
border-radius: 4px;
background: $accent-colour;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
padding: 10px 32px;
}

}



