
@use "../base/var" as *;
.cart{
  padding-top: 94px;
  padding-bottom: 94px;

&__list{
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

&__btn{
  color: $title-colour;
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 1.62; /* 162.5% */
letter-spacing: 0.48px;
border-radius: 4px;
background: $team-bg;
border: transparent;
padding: 6px 22px;
transition-property: color, box-shadow, background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover{
  color: $main-colour;
  background-color: $accent-colour;
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.10), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 2px 2px 0 rgba(0, 0, 0, 0.12);
}
}

&__items{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

&__elem{
outline: 1px solid $card-line;
background: $main-colour;
flex-basis: calc((100% - 60px)/3);
transition-property: box-shadow;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover{
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 1px 4px 6px 0 rgba(0, 0, 0, 0.16);
  .cart__description{
    opacity: 1;
    transform: translateY(0);
  }
}
}

&__box{
position: relative;
overflow: hidden;
}

&__description{
color: $main-colour;
font-size: 18px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0.54px;
background-color: $cart-bg;
position: absolute;
top: 0;
left: 0;
height: 100%;
padding: 63px 24px;
opacity: 0;
transition-property: opacity, transform;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transform: translateY(100%)
}

&__wrap{
  padding: 20px 24px;
}

&__title{
  color: $title-colour;
font-size: 18px;
font-weight: 700;
line-height: 2.00; /* 200% */
letter-spacing: 1.08px;
margin-bottom: 4px;
}

&__desc{
  color: $description-colour;
font-size: 16px;
font-weight: 400;
line-height: 1.87; /* 187.5% */
letter-spacing: 0.48px;
}
}







