@use "../base/var" as *;
@use "../utils/placeholder" as *;
@use "../utils/mixin" as *;
.clients{
  background-color: $main-colour;
  padding-top: 94px;
  padding-bottom: 94px;

  &__title{
  color: $title-colour;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
margin-bottom: 50px;
}

&__list{
  display: flex;
  gap: 30px;
}

&__link{
  width: 170.0px;
height: 92.0px;
border-radius: 4px;
border: 1px solid $svg-colour;
// display: flex;
// align-items: center;
// justify-content: center;
@include flexbox($gap:0px);
transition-property: border;
@extend %animations;
&:hover{
  border: 1px solid $accent-colour;
  .clients__icon{
    fill: $accent-colour;
  }
}
}

&__icon{
  width: 106px;
  height: 60px;
  fill: $svg-colour;
  transition-property: fill;
@extend %animations;
}
}









