@use "../base/var" as *;
.clients{
  background-color: $main-colour;
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title{
  color: $title-colour;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
margin-bottom: 50px;
}

.clients-list{
  display: flex;
  gap: 30px;
}

.clients-link{
  width: 170.0px;
height: 92.0px;
border-radius: 4px;
border: 1px solid $svg-colour;
display: flex;
align-items: center;
justify-content: center;
transition-property: border;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover{
  border: 1px solid $accent-colour;
  .clients-icon{
    fill: $accent-colour;
  }
}

.clients-icon{
  width: 106px;
  height: 60px;
  fill: $svg-colour;
  transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}