@use "../base/var" as *;
@use "../utils/placeholder" as *;
@use "../utils/mixin" as *;
.footer{
  background-color: $footer-bg;
  padding-top: 60px;
  padding-bottom: 60px;

&__box{
  display: flex;
  align-items: baseline;
}

&__logo{
  color: $accent-colour;
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
margin-bottom: 20px;
display: inline-block;
}

&__span{
  color: $main-colour;
}

&__adresslink{
  color: $main-colour;
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}

&__items{
  margin-top: 9px;
  // display: flex;
  // flex-direction: column;
  // gap: 9px;
  @include flexbox($gap:9px, $direction:column, $align:start);
}

&__gmail{
  color: $footer-contact;
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}

&__wrapper{
  margin-left: 70px;
  margin-right: auto;
}

&__title{
  color: $main-colour;
font-size: 14px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 20px;
}

&__list{
  gap: 10px;
  display: flex;
}

&__link{
  width: 44.0px;
height: 44.0px;
border-radius: 50%;
background-color: $link-bcg;
// display: flex;
// align-items: center;
// justify-content: center;
@include flexbox($gap:0px);
transition-property: background-color;
@extend %animations;

&:hover{
  background-color: $accent-colour;
}
}

&__icon{
  width: 20.0px;
height: 20.0px;
fill: $main-colour;
}

&__form{
  // display: flex;
  // align-items: center;
  // gap: 12px;
  @include flexbox($gap:12px);
}

&__email{
color: $footer-contact;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.48px;
background-color: $footer-bg;
border-radius: 4px;
border: 1px solid $footer-email;
background: $bcg-email;
box-shadow: 0 4px 4px 0 $shadow;
padding-left: 16px;
width: 358.0px;
height: 50.0px;
}

&__btn{
  color: $main-colour;
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.96px;
border-radius: 4px;
background: $accent-colour;
box-shadow: 0 4px 4px 0 $shadow;
padding-top: 10px;
padding-right: 28px;
padding-bottom: 10px;
padding-left: 28px;
border: none;
// display: flex;
// align-items: center;
// gap: 10px;
@include flexbox($gap:10px);
}

&__send{
  width: 24.0px;
height: 24.0px;
fill: $main-colour;
}
}
