@use "../base/var" as *;






.header{
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid $header-line;
  /* position: fixed;
  width: 100%; */

  & .container{
  display: flex;
  align-items: center;
}

  &__logo{
     color: $accent-colour;
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
margin-right: 93px;
}

&__span{
 color: $logo-colour;
}

&__items{
  display: flex;
  gap: 50px;
}

&__item{
  position: relative;
}

&__link{
color: $title-colour;
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover {
  color: $accent-colour;
}
&:hover:after{
  opacity: 1;
  transform: scale(1);
}

&:after{
  display: block;
  content: "";
position: absolute;
  width: 100%;
height: 4.0px;
border-radius: 2px;
background: $accent-colour;
opacity: 0;
left: 0;
bottom: -33px;
transition-property: opacity, transform;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transform: scale(0);
}

}

&__lists{
  display: flex;
  gap: 50px;
  margin-left: auto;
}

&__gmail{
  color: $description-colour;
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
display: flex;
align-items: center;
gap: 11px;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover {
color: $accent-colour;
.header__whitemail{
  fill: $accent-colour;
}
.header__phone{
  fill: $accent-colour;
}
}
}

&__whitemail{
  width: 16px;
  height: 12px;
  fill: $description-colour;
  transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
&:hover{
  fill: $accent-colour;
}
}

&__phone{
  width: 10.0px;
height: 16.0px;
fill: $description-colour;
transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}

























