@use "../base/var" as *;
.header-logo{
    color: $accent-colour;
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
}


.header-logo{
     color: $accent-colour;
font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.38;
letter-spacing: 0.78px;
margin-right: 93px;
}

.header-span{
 color: $logo-colour;
}
.header-items{
  display: flex;
  gap: 50px;
}

.header{
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid $header-line;
  /* position: fixed;
  width: 100%; */
}
.header .container{
  display: flex;
  align-items: center;
}

.header-item{
  position: relative;
}

.header-link{
color: $title-colour;
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover {
  color: $accent-colour;
}

.header-link:hover:after{
  opacity: 1;
  transform: scale(1);
}

.header-link:after{
  display: block;
  content: "";
position: absolute;
  width: 100%;
height: 4.0px;
border-radius: 2px;
background: $accent-colour;
opacity: 0;
left: 0;
bottom: -33px;
transition-property: opacity, transform;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transform: scale(0);
}

.header-lists{
  display: flex;
  gap: 50px;
  margin-left: auto;
}

.header-whitemail{
  width: 16px;
  height: 12px;
  fill: $description-colour;
  transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-whitemail:hover{
  fill: $accent-colour;
}

.header-phone{
  width: 10.0px;
height: 16.0px;
fill: $description-colour;
transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.header-gmail{
  color: $description-colour;
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
display: flex;
align-items: center;
gap: 11px;
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-gmail:hover {
color: $accent-colour;
.header-whitemail{
  fill: $accent-colour;
}
.header-phone{
  fill: $accent-colour;
}
}