@use "../base/var" as *;
.hero{
  padding-top: 94px;
  padding-bottom: 94px;

&__list{
  display: flex;
  gap: 30px;
}
&__item{
&::before{
content: "";
width: 270px;
height: 120px;
display: block;
background-color: $team-bg;
border-radius: 4px;
margin-bottom: 30px;
background-image: url(../img/antenna1.png);
background-repeat: no-repeat;
background-position: center;
background-size: 70px 70px;
}

&:nth-child(2)::before{
  background-image: url(../img/clock1.png);
}

&:nth-child(3)::before{
  background-image: url(../img/diagram1.png);
}

&:nth-child(4)::before{
  background-image: url(../img/astronaut.png);
}
}

&__title{
  color: $title-colour;
font-size: 14px;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.42px;
text-transform: uppercase;
margin-bottom: 10px;
}

&__desc{
  color: $description-colour;
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}
}










