@use "../base/var" as *;
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $backdrop-bg;
  opacity: 1;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.is-hidden{
  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
transition-duration: 1000ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden .modal{
  transform: translate(-50%, 200px) scale(0);
}

.modal{
  width: 528.0px;
height: 581.0px;
background-color: $main-colour;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) scale(1);
border-radius: 4px;
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px 0 rgba(0, 0, 0, 0.20);
padding: 40px;
transition-property: transform;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close{
  width: 30.0px;
height: 30.0px;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
outline:1px solid $modal-close;
border: none;
background-color: transparent;
position: absolute;
top: 8px;
right: 8px;
}

.modal-close:hover{
  .modal-x{
    fill: $accent-colour;
  }
}

.modal-x{
width: 11.0px;
height: 11.0px;
transition-property: fill;
transition-duration: 450ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title{
  color: $title-colour;
text-align: center;
font-size: 20px;
font-weight: 700;
line-height: normal;
letter-spacing: 0.6px;
margin-bottom: 12px;
}

.modal-label{
  color: $description-colour;
font-size: 12px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.12px;
margin-bottom: 4px;
display: block;
position: relative;
}

.modal-lab{
  color: $description-colour;
font-size: 12px;
font-weight: 400;
line-height: normal;
letter-spacing: 0.12px;
display: block;
}

.modal-input{
  display: block;
  border-radius: 4px;
outline: 1px solid $modal-input;
border: none;
width: 100%;
height: 40.0px;
padding-left: 42px;
color: inherit;
font-size: inherit;
margin-bottom: 10px;
margin-top: 4px;
transition-property: outline;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover{
outline: 1px solid $accent-colour;
}

.modal-svg{
  fill: $title-colour;
  width: 12.0px;
height: 12.0px;
position: absolute;
left: 15px;
top: 33px;
transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover + .modal-svg{
  fill: $accent-colour;
}

.modal-comment{
  resize: none;
  width: 100%;
height: 120px;
border-radius: 4px;
border: 1px solid $modal-input;
display: block;
padding: 12px 16px;
margin-top: 4px;
}

.modal-box{
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-check{
  fill: $title-colour;
width: 16.0px;
height: 15.0px;

}

.modal-text{
  color: $description-colour;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
margin-left: 8.38px;
margin-right: 3px;
}

.modal-link{
  color: $accent-colour;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.42px;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
text-underline-position: from-font;
}

.modal-btn{
  color: $main-colour;
text-align: center;
font-size: 16px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0.96px;
border-radius: 4px;
background: $accent-colour;
box-shadow: 0 4px 4px 0 $shadow;
padding-top: 10px;
padding-bottom: 10px;
padding-right: 52px;
padding-left: 52px;
border: none;
margin-left: auto;
margin-right: auto;
display: flex;
justify-content: center;
align-items: center;
margin-top: 30px;
}
