@mixin flexbox($align:center,$justify:center,$wrap:wrap,$direction:row,$gap:30px){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-wrap: $wrap;
    flex-direction: $direction;
    gap:$gap;
}